/*padronização das cores*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --bg-color1:#333;
    --bg-color: white;
    --bg-color3: #EF0C0C;
    --bg-color4: #BA0000;
    --bg-color2: #e7e6e6;
    --bg-color5: #EDEDED;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

body{
    background-color: var(--bg-color2);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(#EF0C0C, #BA0000);
}


h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    margin: 60px 30px;
    background-color: var(--bg-color3);
    font-family: 'Times New Roman', Times, serif;
    max-width: 70%;
margin-left: 15%;
}


.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: var(--bg-color1);
    margin: 4px 0;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: var(--bg-color4);
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.menu a:hover {
    text-decoration: underline;
}

.menu.show {
    display: flex;
}

.nav-right a {
    color: var(--bg-color);
    text-decoration: none;
    margin-left: 20px;
}

.nav-right a:hover {
    text-decoration: underline;
}

/* definição do carrossel */

.carrossel {
    position: relative;
    max-width: 1000px;
    max-height: 600px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 10px;
}

.organizador-carrossel {
    display: flex;
    transition: transform 0.5s ease;
}

.imagem-carrossel {
    min-width: 100%;
    display: none;
}

.imagem-carrossel img {
    width: 100%;
    height: 500px;

    display: block;
}

.imagem-carrossel.active {
    display: block;
}

.imagem-anterior, .imagem-proxima {
position: absolute;
top: 50%;
transform: translateY(-50%);
font-size: 30px;
cursor: pointer;
color: #333;
padding: 10px;
user-select: none;
z-index: 1; 
}

.imagem-anterior {
    left: 10px;
}

.imagem-proxima {
    right: 10px;
}   

/*estilizando o container que vem da direita para esquerda*/
#container1{
    align-items: center;
    display: flex;
    max-width: 70%;
    margin-bottom: 25px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-color5);
}


.cont-img {
    max-width: 400px; 
    height: auto;
    opacity: 0;
    transform: translateX(100%);
    animation: aparecer 1s forwards;
    animation-delay: 0.5s;
    margin-right: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--bg-color5);
}

.txt {
    max-width: 600px;
    opacity: 0;
    transform: translateX(100%);
    animation: aparecer 1s forwards;
    animation-delay: 1s;
    margin: auto;
}

.txt span{
    display: block;
    margin-bottom: 10px;
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/*conteiner que vem da esquerda para direita*/

#container2 {
    display: flex;
    align-items: center;
    max-width: 70%;
    opacity: 0;
    transform: translateX(-1000px);
    animation: aparecer 1s forwards;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-color5);
}

.cont-img2 {
    max-width: 400px; 
    height: auto;
    opacity: 0;
    animation: aparecer 1s forwards;
    animation-delay: 1  s;
    margin-left: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--bg-color5);
    margin-bottom: 30px;
    margin: auto;
}

.txt2 {
    text-justify: newspaper;
    max-width: 500px;
    text-align: left;
    margin: auto;
}

.txt2 span{
    display: block;
    margin-bottom: 10px;
    margin: auto;
    padding-bottom: 10px;
}   

.para_baixo {
    opacity: 0;
    position: relative;
    top: -100px;
    animation: para_baixo 2s forwards;
}

@keyframes para_baixo {
    to {
        opacity: 1;
        top: 0;
    }
}

footer {
    background-image: linear-gradient(#BA0000, #EF0C0C);
    text-align: center;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
    width: 100%;    
    margin-top: 30px;
}
    
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
    
.footer-content .links-sociais a {
    margin: 0 5px;
 }
    
.footer-content .footer-links a {
    color: var(--bg-color);
    margin: 0 15px;
    text-decoration: none;
}
    
.footer-content .footer-links a:hover {
    text-decoration: underline;
}
    
footer .footer-content {
    flex-direction: column;
}


/* Estilos responsivos */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-right {
        display: none;
    }

    #container1, #container2 {
        flex-direction: column;
        max-width: 90%;
    }

    .cont-img, .cont-img2 {
        margin: 0 auto 20px auto;
        max-width: 80%;
    }

    .txt, .txt2 {
        max-width: 100%;
        text-align: center;
        padding-bottom: 5px;
    }

}

.links-sociais img{
    max-width: 25px;
    gap: 20 px;
    display: inline-flexbox;
}

footer .links-sociais a {
    margin: 5px 0;
    padding: 10px 0;
    gap: 50 px;
}

/*formatando a página criar_conta.html*/

.form-container {
    background-color: var(--bg-color2);
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
    max-height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--bg-color5);
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: var(--bg-color3);
    border: none;
    color: var(--bg-color);
    border-radius: 5px;
    cursor: pointer;
    padding-bottom: 10px;
}

button:hover {
    background-color: var(--bg-color1);
}